<div id="templates" class="flex flex-col md:flex-row items-start justify-center min-h-screen bg-white text-black p-10">
  <!-- Left Half: Explore Templates -->
  <div class="md:w-1/2 flex flex-col items-start justify-center"> <!-- Added justify-center for vertical centering -->
    <h2 class="text-4xl font-bold mb-5">Explore Templates</h2>
    <p>Check out the latest website templates which are ready to use.</p>
  </div>
  

  <!-- Right Half: 3x3 Grid of Boxes -->
  <div class="md:w-1/2 mt-10 md:mt-0 grid grid-cols-3 gap-4">
    <div class="box">
      <img src="assets/eCommerce.png" alt="Template 1">
    </div>
    <div class="box">
      <img src="assets/Education.png" alt="Template 2">
    </div>
    <div class="box">
      <img src="assets/Business.png" alt="Template 3">
    </div>
    <div class="box">
      <img src="assets/Health.png" alt="Template 4">
    </div>
    <div class="box">
      <img src="assets/LandingPages.png" alt="Template 5">
    </div>
    <div class="box">
      <img src="assets/BlogsMagazines.png" alt="Template 6">
    </div>
    <div class="box">
      <img src="assets/RealEstate.png" alt="Template 7">
    </div>
    <div class="box">
      <img src="assets/Travel.png" alt="Template 8">
    </div>
    <div class="box">
      <img src="assets/Portfolio.png" alt="Template 9">
    </div>
  </div>
</div>
