.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
    top: 10%;
    left: 12%;
  }
  
  img {
    max-width: 100%;
  }
  
  .carousel-item {
    transition: opacity 0.5s ease, filter 0.5s ease;
  }
  