<!-- About Us Component -->
<div id="about" class="flex flex-col md:flex-row items-center justify-center h-screen bg-black text-white">
    <div class="md:w-1/2 p-6 h-full flex flex-col items-center justify-center">
      <h1 class="text-6xl font-extrabold text-white tracking-wide text-center unique-font mb-4">About Us</h1>
      <p class="text-lg text-center text-indigo-400">
        We are passionate about building exceptional websites and applications. Our mission is to deliver high-quality digital experiences and innovative solutions.
      </p>
    </div>
    <div class="md:w-1/2 relative h-full w-full overflow-hidden">
      <img src="assets/Neon.png" alt="About Us Image" class="absolute inset-0 w-full h-full object-cover blur-left" />
    </div>
</div>
