/* Base color settings - these can be changed */
$active-color: #636FF1; /* Lighter color for active pop-up */
$hover-bg-color: rgba(99, 102, 241, 0.15); /* Very light purple on hover */
$active-bg-color: rgba(99, 102, 241, 0.25); /* Light background for the active state */
$shadow-color: 0 4px 10px rgba(99, 102, 241, 0.4); /* Light shadow color for the pop-up effect */

/* Shared styles for all menu links */
.menu-link {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease; /* Smooth transition */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.menu-link:hover {
  color: $active-color;
  background-color: $hover-bg-color; /* Lighter background color on hover */
  text-decoration: none;
}

/* Active menu link (popped up) */
.menu-link.active {
  background-color: $active-bg-color;
  color: $active-color;
  text-decoration: none;
  transform: translateY(-4px); /* Slightly popped up effect */
  box-shadow: 0 6px 12px $shadow-color; /* Lighter shadow for pop-up effect */
  font-weight: bold;
  transition: transform 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease; /* Smooth transition for all */
}

/* Login button styles */
.login-btn {
  cursor: pointer;
  color: $active-color;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid $active-color;
  border-radius: 9999px; /* Fully rounded */
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: $active-color;
  color: white;
  box-shadow: 0 4px 10px $shadow-color;
  text-decoration: none;
}

// Profile icon CSS

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  background-color: #4A5568; /* Background color for the circle */
  border-radius: 50%; /* Makes it circular */
  color: white; /* Text color */
  font-size: 20px; /* Font size for the initials */
  font-weight: bold; /* Make the initials bold */
}

.initial {
  text-align: center; /* Center the initials */
  text-transform: uppercase; /* Uppercase the initials */
}


// Logout Button CSS

.logout-button {
  cursor: pointer;
  color: #ad1414;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #ff0000;
  border-radius: 20px;
  padding: 0.32rem 0.95rem;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.logout-button:hover {
  background-color: #ff0000;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.4);
  text-decoration: none;
}

@media (max-width: 768px) {
  .profile-icon {
    width: 35px; /* Smaller icon on mobile */
    height: 35px; /* Smaller icon on mobile */
    font-size: 16px; /* Smaller font size on mobile */
    margin-left: 10px;
    margin-top: 10px;
  }

  .logout-button {
    font-size: 14px; /* Smaller button text on mobile */
    margin-top: 10px;
  }
}


