// .carousel-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     z-index: 1; /* Ensure the shop component is behind the navbar */
//     padding-top: 24px; /* Added space to prevent overlap with navbar */
// }

// .carousel-item {
//     opacity: 0;
//     margin-top: 170px;
//     transition: all 0.5s ease;
//     transform: scale(0.8);
//     position: absolute;
//     width: 100%;
//     max-width: 600px; /* Adjust max width for better visibility */
//     height: auto;
//     margin-right: auto;
// }

// .carousel-item.active {
//     opacity: 1;
//     transform: scale(1.2);
//     z-index: 10;
// }

// .carousel-item.inactive {
//     opacity: 0.5;
//     transform: scale(0.8);
//     z-index: 5;
// }

// .carousel-img {
//     width: 100%; /* Make sure the image takes the full width of its container */
//     height: auto;
//     object-fit: cover;
// }

// /* Ensure navbar stays on top */
// nav {
//     z-index: 100;
//     position: fixed;
//     top: 0;
//     width: 100%;
// }



html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#shop {
    margin-top: 100px; // Adjust based on your navbar height
    padding: 2rem; // Add padding for spacing
    position: relative; // Ensure relative positioning for any child elements
    overflow: hidden; // Prevent content from overflowing
}

.card {
    background: var(--surface-card);
    padding: 3rem; // Increased padding for a larger look
    border-radius: 10px;
    margin-bottom: 1rem;
    max-width: 900px; // Adjusted max width
    margin: 0 auto; // Center the card
    border: none; // Remove any border
    outline: none; // Remove any outline
}

.shop-title {
    font-family: 'Spartan', sans-serif; /* Apply a unique font, customize as needed */
    text-align: center; // Center the title
    font-size: 2.5rem; // Adjust the font size as needed
    font-weight: bold; // Make the font bold
    margin-bottom: 1.5rem; // Add some space below the title
}
