.block-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.register-button {
    cursor: pointer;
    color: #636FF1;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #636FF1;
    border-radius: 12px; /* Reduced for a smaller rounded effect */
    padding: 0.32rem 0.75rem; /* Smaller padding for a compact button */
    font-size: 0.875rem; /* Optional: Adjust font size to make the text smaller */
    transition: all 0.3s ease;
}


.register-button:hover {
    background-color: #636FF1;
    color: white;
    box-shadow: 0 4px 10px rgba(99, 102, 241, 0.4);
    text-decoration: none;
}